@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Custom scrollbar styles */
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(31 41 55);
    border-radius: 20px;
    border: 1px solid white;
  }